.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    // align-items: center;
}


.customers-list__link{
    min-width: 100%;
    height: 92px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    fill:#afb1b8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill:var(--secondary-color);
        border: 1px solid var(--secondary-color);
    }

}


.customers-list__card {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 30px;
    
    max-width: 48%;
    // &:not(:last-child) {
    //     // margin-right: 30px;
    // }

}


@media  screen and (min-width: 768px) and (max-width: 1200px) {
    .customers-list {
        
        flex-wrap: wrap;
        justify-content:space-between;
        
    }
    }

    @media  screen and (min-width: 768px) and (max-width: 1200px) {
        .customers-list__link {
            // display: flex;
            flex-wrap: wrap;
            
            min-width: 226px;
            min-width: 100%;
            height: 92px;
            
            margin: 0;
        }
        }

        @media  screen and (min-width: 768px) and (max-width: 1199px) {
            .customers-list__card{
                width: 30%;
            }
            }   


        
@media  screen and (min-width: 1199px) {
    .customers-list__link{
        width: 170px;


}
}
@media  screen and (min-width: 1199px) {
.customers-list__card {
    justify-content: center;
    align-items: center;

    &:not(:last-child){ 
        margin-right: 30px;
    }
}
}


figure img {
    vertical-align: top;
}
figure figcaption {
    text-align: center;
}